/* 基本設定と変数 */
:root {
    --primary-color: #000000;
    /* メインカラー */
    --secondary-color: #4F7787;
    /* サブカラー */
    --accent-color: #7ca2a4;
    /* アクセントカラー */
    --text-color: #333333;
    /* 基本テキストカラー */
    --light-text-color: #ffffff;
    --background-color: #f5f5f5;
    /* 背景色 */
    --light-background: #ffffff;
    --dark-background: #000;
    --dark-text-color: #999;
    --container-width: 90%;
    --border-radius: 8px;
    --minimum: 280px;
}



/* リセットと共通スタイル */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    /* スムーズスクロール */
    font-family: "Noto Sans JP";
}

body {
    color: var(--text-color);
    background-color: var(--background-color);
    line-height: 1.7;
}

h1 {
    color: var(--primary-color);
    font-family: "Bebas Neue", sans-serif;
    font-size: 4rem;
}

h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 2.2rem;
    text-align: center;
}

h3 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.5rem;
}

p{
    font-size: 1.2rem;
}

.switcher p{
    font-size: 1rem;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

header {
    background-color: var(--background-color);
    position: sticky;
    top: 0;
    z-index: 1000;
}


/* コンテナボックス*/
.container-box {
    width: var(--container-width);
    margin-left: auto;
    margin-right: auto;
    padding: 1.8rem;
}


.stack {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    /* gap: 2rem; */
    margin-top: 1.5rem;
    /* margin-bottom: 1.5rem; */

}

.stack>*+* {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.stack-small {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
}

.box {
    padding: 1.5rem;
    background-color: var(--light-background);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.invert {
    color: var(--light-text-color);
    background-color: var(--dark-background);
}

.dark {
    background-color: var(--dark-background);
}

/* Center Component */
.center {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
    /* width: 100%; */
}

/* Cluster Component */
.cluster {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 1.5rem;
    justify-content: space-between;
    align-items: center;

}

.cluster .head{
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.8rem;
}

.cluster-about{
    display: flex;
    /* flex-wrap: wrap; */
    /* gap: 1.5rem; */
    justify-content: flex-start;
    align-items: center;

}

/* アニメーション */
.cluster-about.first,
.cluster-about.second,
.cluster-about.third {
    opacity: 0;
    pointer-events: none;
}

.cluster-about.first {
    margin-top: 0;
    transform: translateX(-64px);
    transition: opacity 1s, transform 1s;
}
.cluster-about.second {
    transform: translateX(64px);
    transition: opacity 1s, transform 1s;
}
.cluster-about.third {
    transform: translateX(-64px);
    transition: opacity 1s, transform 1s;
}

.cluster-about.first.is-visible {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
}
.cluster-about.second.is-visible {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
}
.cluster-about.third.is-visible {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
}

.cluster-about p{
    width: 100em;
    /* padding: 1.5rem; */
}

/* Switcher Component */
.switcher {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap: 1rem;
    --threshold: 40rem;
}

.switcher>* {
    flex-grow: 1;
    flex-basis: calc((var(--threshold) - 100%) * 999);
}

/* Cover Component */
.cover {
    display: flex;
    min-height: 100vh;
}

.cover>* {
    margin-top: auto;
    margin-bottom: auto;

}

/* Frame Component */
.frame {
    aspect-ratio: 1/1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame img {
    width: 80%;
    height: 80%;
    display: block;
    object-fit: cover;
    overflow: hidden;
}
.img{
    object-fit: contain;
}

/* ユーティリティクラス */

.logo {
    font-family: "Bebas Neue", sans-serif;
    font-size: 2rem;
    /* font-weight: bold; */
}

.hero {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)),
        url("../img/mainmap_black.png");
    background-size: cover;
    background-position: center;
    color: var(--light-text-color);
}

.application {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)),
        url("../img/フッター上.png");
    background-size: cover;
    background-position: center;
    color: var(--light-text-color);
}


/* signup */

#signup {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),
        url("../img/vamshi-u-jtrjUJ95l9Q-unsplash.jpg");
    background-size: cover;
    background-position: center;
    color: var(--light-text-color);
}



/* footer */

#footer .cluster {
    justify-content: center;
}

/* Other */

.highlight {
    /* color: var(--accent-color); */
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.5rem;
    /* font-weight: bold; */
}

.btn {
    /* font-family: "Bebas Neue", sans-serif; */
    display: inline-block;
    padding: 0.8em 1.8em;
    border: none;
    border-radius: var(--border-radius);
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    font-size: 1rem;
}

.btn-primary {
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.8rem;
    padding: 0.3em 1em;
    background-color: var(--primary-color);
    color: var(--light-text-color);
}

.btn-secondary {
    background-color: var(--secondary-color);
    color: var(--light-text-color);
    border: 2px solid var(--primary-color);
    margin-top: auto;
}

a.btn-secondary{
    margin-top: auto;
}

.btn-nav {
    font-size: 1.8rem;
    background-color: transparent;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    padding: 0em 0.6em;
}

.btn-large {
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.8rem;
    padding: 0.3em 1.3em;
}